@font-face {
    font-family: 'Ki-Regular';
    src: url('Font/Ki-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ki-Light';
    src: url('Font/Ki-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ki-LightItalic';
    src: url('Font/Ki-LightItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    overscroll-behavior: none;
    margin: 0;
    height: 100%;
    padding-bottom: 1vw;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
}

body.landingpage,
body.writing {
    overflow-x: hidden;
}

body,
a {
    cursor: url('assets/pointer2.png') 16 16, auto;
}

a:hover {
    cursor: url('assets/pointer2.png') 16 16, auto;
    text-decoration: underline;
}

/* landing page */

#landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2.5s ease;
    pointer-events: none;
}

#landing-page.fade-out {
    opacity: 0;
}

#yellow {
    color: #FFD300;
    font-family: 'Ki-Regular', Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
}

#white {
    color: #FFF;
    font-family: 'Ki-Regular', Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    margin-right: 0.75rem;
}

#blue {
    color: #195bff;
    font-family: 'Ki-Regular', Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
}

/* homepage */

.content {
    font-family: 'Ki-Regular';
    font-size: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0vw;
    height: 100vh;
}

.column1,
.column2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.column1 {
    background-image: url('edited/image1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column2 {
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.writing-text {
    position: relative;
    z-index: 1;
}

.writing-text a {
    color: #195bff;
    font-family: 'Ki-Regular', Helvetica, sans-serif;
    font-size: 1.5rem;
}

.writing-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.writing-images img {
    position: absolute;
    max-width: 20vw;
    height: auto;
    transition: transform 0.5s ease;
}

#dog {
    top: 7%;
    left: 7%;
}

#statue {
    top: 17%;
    right: 0%;
}

#andromeda {
    bottom: 0%;
    left: 22%;
}

#dog:hover {
    animation: none;
    transform: scale(0.8) rotate(-10deg);
}

#statue:hover {
    animation: none;
    transform: scale(0.7) rotate(-10deg);
}

#andromeda:hover {
    animation: none;
    transform: scale(1) rotate(35deg);
}

@keyframes float1 {
    0% {
        transform: scale(0.8) rotate(-10deg) translateY(0px);
    }

    50% {
        transform: scale(0.8) rotate(-5deg) translateY(-10px);
    }

    100% {
        transform: scale(0.8) rotate(-10deg) translateY(0px);
    }
}

@keyframes float2 {
    0% {
        transform: scale(0.7) rotate(-10deg) translateY(0px);
    }

    50% {
        transform: scale(0.7) rotate(-2deg) translateY(10px);
    }

    100% {
        transform: scale(0.7) rotate(-10deg) translateY(0px);
    }
}

@keyframes float3 {
    0% {
        transform: scale(1) rotate(35deg) translateY(0px);
    }

    50% {
        transform: scale(1) rotate(30deg) translateY(-8px);
    }

    100% {
        transform: scale(1) rotate(35deg) translateY(0px);
    }
}

#dog {
    top: 7%;
    left: 7%;
    animation: float1 3s ease-in-out infinite;
}

#statue {
    top: 17%;
    right: 0%;
    animation: float2 3.5s ease-in-out infinite;
}

#andromeda {
    bottom: -2%;
    left: 22%;
    animation: float3 3s ease-in-out infinite;
}


a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.yellow {
    color: #FFD300;
    font-family: 'Ki-Regular', Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    text-decoration: none;
}

.blue {
    color: #195bff;
    font-family: 'Ki-Regular', Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: normal;
    text-decoration: none;
}

/* photo page */
body.photo {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Ki-Regular', monospace, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 3vw 2vw 1vw 2vw;
    font-size: 1.5rem;
}

.right {
    display: flex;
    gap: 2vw;
}

/* --- Image Placeholder --- */

/* .project0,
.project1,
.project2,
.project3 */

body {
    margin: 0;
    color: white;
    font-family: 'Ki-Regular', monospace, sans-serif;
}

.image-placeholder {
    position: relative;
    width: 96vw;
    height: 70vh;
    margin: 0vh auto;
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.carousel,
.carousel1,
.carousel2,
.carousel3 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

/* project0 bg */
#project0::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    opacity: 25%;
    background-image: url('edited/trace.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
}


/* --- Arrows --- */
.arrow {
    position: absolute;
    font-size: 4vw;
    font-weight: 100;
    background: none;
    border: none;
    color: white;
    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 5;
    transform: translate(-50%, -50%);
    cursor: none;
    scale: 0.7;
}

/* --- Captions --- */

.project-captions {
    font-size: 1rem;
    position: fixed;
    top: 8vw;
    left: 2vw;
    z-index: 2000;
    line-height: 200%;
}

.project-caption.highlighted a {
    color: #FFD300;
}

.caption {
    display: inline-block;
    position: absolute;
    font-size: 1rem;
    font-family: 'Ki-Regular', monospace, sans-serif;
    line-height: 200%;
}

.right-caption {
    right: 1vw;
    top: 59vh;
    width: 50vw;
    text-align: right;
}

.right-caption div {
    display: block;
}

#break {
    height: 15vh;
}

.break {
    height: 20vh;
}

/* writing page */

body.writing {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Ki-Regular', monospace, sans-serif;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0vw;
    height: 100vh;
}

.articles {
    margin: 0;
    padding: 8vw 4vw 0vw 4vw;
    line-height: 200%;
    width: 44vw;
}

.stickers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#stickerPreview {
    opacity: 0;
    transform: scale(1);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: block;
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 999;
    max-width: 27vw;
    max-height: 18vw;
}

#stickerPreview.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


/* about */

.aboutnavbar {
    color: black;
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 3vw 2vw 1vw 2vw;
    font-size: 1.5rem;
}

#space {
    line-height: 200%;
}

.grid2 {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.left-column,
.right-column {
    display: flex;
    align-items: flex-start;
    height: 100vh;
}

.subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Ki-Regular', monospace, sans-serif;
    padding-top: 1.8vw;
}

.subtitle:hover {
    color: #195bff;
}

p {
    font-size: 1rem;
    font-family: 'Ki-Regular', monospace, sans-serif;
    line-height: 200%;
    padding-left: 2vw;
}

.links {
    text-decoration: underline;
}

.links a:hover {
    color: #FFD300;
}

@media (max-width: 450px) {
    .grid {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 50vh 50vh;
    }

    .column1,
    .column2 {
        width: 100%;
        height: 50vh;
    }

    #dog {
        top: 20%;
        left: 15%;
        scale: 3;
    }

    #statue {
        top: 15%;
        right: 10%;
        scale: 3;
    }

    #andromeda {
        bottom: 5%;
        left: 22%;
        scale: 3;
    }

    .navbar .right,
    .aboutnavbar .right {
        flex-direction: column;
        align-items: flex-end;
    }

    .project-captions {
        top: 9vh;
        line-height: 180%;
    }

    .image-placeholder {
        position: relative;
        width: 85vw;
        height: 80vh;
        margin: 0vh auto;
        overflow: hidden;
        display: flex;
        justify-content: right;
        align-items: flex-end;
    }

    .right-caption {
        top: 70vh;
        width: 100vw;
        line-height: 180%;
    }

    .break {
        height: 4vh;
    }

    .articles {
        margin: 0;
        top: 20vh;
        padding: 9vh 7.5vw;
        line-height: 180%;
        width: 90vw;
    }

    .stickers {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #stickerPreview {
        opacity: 0;
        transform: scale(1);
        transition: opacity 0.4s ease, transform 0.4s ease;
        display: block;
        pointer-events: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        z-index: 999;
        max-width: 80vw;
        max-height: 50vh;
    }

    #stickerPreview.active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    .grid2 {
        grid-template-columns: 1fr;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .right-column {
        margin-top: 70rem;
    }

    .subtitle {
        padding-left: 1vh;
    }

    p {
        padding-left: 3vh;
    }
}

@media (max-width: 390px) {
    .right-column {
        margin-top: 75rem;
    }
}

@media (max-width: 360px) {
    .right-column {
        margin-top: 89rem;
    }
}